<!DOCTYPE>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Profile</title>
  </head>
  <body>
    <form action="/users/<%= @user.id %>/update" method="post">
      <% if flash %>
      <% flash.each do |message| %>
      <h4><%= message %></h4>
      <% end %>
      <%end %>
      <input type="hidden" name="_method" value="patch">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <label>
        Name <input type="text" name="user[name]" value="<%= @user.name %>">
      </label>
      <label>
        Email <input type="text" name="user[email]" value="<%= @user.email %>">
      </label>

      <input id="button" type="submit" value="Update">
    </form>
    <form action="/users/<%= @user.id %>" method="post">
      <button type="submit" value="Delete Account"></button>
    </form>
  </body>
</html>
